*{
    margin: 0 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header{
    color: white;
    width: 100%;
    position: fixed;
    background: rgb(160, 78, 40);
    z-index: 2;
    left: 0;
    top: 0;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

.container{
    flex: 1 0 auto;
}
footer{
    width: 100%;
    height: 200px;
    background: rgb(160, 78, 40);
    
}
.footer-content{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    color: white;
}
.footer-content img{
    height: 32px;
    width: 32px;
}
.footer-content a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.block{
    min-height: 100px;
    border: 1px solid black;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-part{
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
}
.logo-part:hover{
    color: white;
}
.buttons-part{
    color: white;
    margin: 0;
    gap: 10px;
    display: flex;
    list-style: none;
    padding: 0;
}
.buttons-part a{
    display: flex;
    justify-content: center;
}
.buttons-part li a svg path{
    fill: red;
}
.buttons-part img{
    width: 32px;
    height: 32px;
}
.burger-menu{
    display: none;
    width: 48px;
    height: 48px;
}
.header-content{
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .burger-menu{
        display: block;
    }
    .buttons-part{
        display: none;
    }
    .header-content {
        padding:0px 20px;
        width: 100%;

    }
}


.buttons-part a{
    color: white;
    padding: 10px 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}

.buttons-part a:hover{
    color: black;
    background: white;
}
.logo-part img{
    height: 64px;
    width: 64px;
}
.logo-text{
    text-transform: uppercase;
}
.logo-text h4{
    margin: 0;
}
.block{
    border: 1px solid black;
}
.thumbnails{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.photos input{
    margin-top: 10px;
}
.thumb-img:hover .image-prod{
    border: 2px solid rgb(160, 78, 40);
}
.redact-string{
    display: flex;
    align-items: center;
}
.thumb-img{
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width: 25%;
}
.image-prod{
    border-radius:5px;
    width: 100%;
}
.delete-img{
    visibility: hidden;
    position: absolute;
    width: 15%;
    left: 41%;
    top: 40%;
}
.thumb-img:hover .delete-img{
    visibility: visible;
}
.redact-string span{
    width: 45%;

}
.redact-string input{
    border-radius: 10px;
    width: 80%;

    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
}
.redact-string select{
    border-radius: 10px;
    width: 80%;

    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    height: 36px;
}
.redact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.description{
    margin-top: 15px;
}
.description textarea{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.save-btn{
    cursor: pointer;
    padding: 10px 15px;
    background: rgb(160, 78, 40);
    border: none;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 40%;
    display: block;
}

.del-btn{
    cursor: pointer;
    padding: 10px 15px;
    background: rgb(221, 11, 0);
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px auto;
    width: 40%;
    display: block;
}
.select-wrapper{
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.select-wrapper select{
    width: 100%;
}

.select-wrapper button{
    width: 70%;
    cursor: pointer;
    padding: 3px 0px;
    background: rgb(160, 78, 40);
    border: none;
    color: white;
    border-radius: 10px;
    display: block;
}